env_variables:

    # Infrastructure
    GOOGLE_PROJECT_ID: your-proj
    GOOGLE_STORAGE_BUCKET_NAME: your-proj.appspot.com

    # Slack app config
    SLACK_APP_CLIENT_ID: "1234567890.1234567890"
    SLACK_APP_CLIENT_SECRET: 123456789qwertyuio
    SLACK_VERIFICATION_TOKEN: ouytrewq0987654321

    # Plugin commands
    OPENWEATHERMAP_API_KEY: asdfghjkl1234567890
    GOOGLE_CUSTOMSEARCH_API_KEY: zxcvbnmasdfghjkl;qwertyuio
    GOOGLE_CUSTOMSEARCH_ENGINE_ID: 1234567890qwertyuioasdfghjklzxcvbnm
